.info-queue-container {
  text-align: left;

  mat-card {
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .info-queue {
      width: 100%;

      .queue-name {
        display: flex;
        justify-content: space-between;
      }
      .button-list{
        display:flex;
        justify-content: flex-end;
        .queue-button {
          display: flex;
          margin-left: 5px;
        }
      }
      .queue-detail-info {

      }
    }
  }

}
