<div class="create-queue-container">
  <mat-card>
  <h1>Создать очередь</h1>
    <mat-form-field class="full-width">
      <mat-label>Название предмета</mat-label>
      <input type="text"
             placeholder="Выберите предмет"
             aria-label="Предмет"
             matInput
             [formControl]="myControlCourse"
             [matAutocomplete]="autoCourse">
      <mat-autocomplete #autoCourse="matAutocomplete">
        <mat-option *ngFor="let course of filteredCourses | async" [value]="course">
          {{course}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Преподаватели</mat-label>
      <mat-chip-list #chipList aria-label="Teacher selection">
        <mat-chip
          *ngFor="let teacher of teachers"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(teacher)">
          {{teacher}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Добавить преподавателя..."
          #teacherInput
          [formControl]="myControlTeacher"
          [matAutocomplete]="autoTeacher"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #autoTeacher="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher">
          {{teacher}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Дата</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepickerFilter]="dateFilter" [matDatepicker]="myDatepicker">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Примечания</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </mat-card>
</div>
