env:
  EB_PACKAGE_S3_BUCKET_NAME : "angular-lab-queue-v3"
  AWS_REGION_NAME           : "us-east-2"
  BRANCH_DEPLOY             : "hotfix/99-deploy-nestjs"

name: CD

on: [push]

jobs:
  deploy-client:
    name: Deploy Angular Client
    runs-on: ubuntu-latest
    environment: production

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION_NAME }}

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build Angular Production
      run: |
          cd front-end/lab-queue
          npm install -g @angular/cli
          npm install
          npm run build:prod

    - name: Copy Deployment package to S3 bucket
      run : |
            cd front-end/lab-queue/dist
            aws s3 cp ./lab-queue s3://${{ env.EB_PACKAGE_S3_BUCKET_NAME }}/ --recursive --acl public-read-write


  deploy-server:
    name: Deploy NestJS Server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "lab-queue-server"
          heroku_email: "akorotkov1234@yandex.ru"
          branch: ${{env.BRANCH_DEPLOY}}
